<% include partials/header %>
    <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p><%= success %></p>
    </div>
    <div class="col-md-5">
        <% include partials/login %>
    </div>
<% include partials/footer %>
