<% include partials/header %>
    <h1>Welcome To Secret Page <%= user %></h1>
    <% if (role == 'admin'){%>
        <h2>FOR SUPER USER ONLY</h2>
    <%}%>
    <a href="/users/logout" class="btn btn-danger btn-lg">LOGOUT</a>
<% include partials/footer %>
